@import "./index.css"; 


.icon-svg {
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 2rem;
  height: 2rem;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(126, 34, 206, 0.4);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(126, 34, 206, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(126, 34, 206, 0);
  }
}

.animate-pulse {
  animation: pulse 3s infinite;
}


@media (max-width: 768px) {
  .hidden.md\:block {
    display: none;
  }
}
